<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.funceptionapps.convertitall"
    android:versionCode="240"
    android:versionName="2.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".ui.ConverterInterface"
            android:label="@string/title_activity_converter_interface"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsInterface"
            android:icon="@drawable/ic_actionbar_icon"
            android:label="@string/lable_settings"
            android:parentActivityName=".ui.ConverterInterface"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ConverterInterface" />
        </activity>
        <activity
            android:name=".ui.Changelog"
            android:icon="@drawable/ic_actionbar_icon"
            android:label="@string/lable_changelog"
            android:parentActivityName=".ui.SettingsInterface"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsInterface" />
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>